/* Custom Code */
#candidate-form h3 {
    background-color: #29aafe !important;
    color: #fff;
    padding: 5px;
}
#candidate-form .fa-pencil{
	font-size: 20px;
 }	

.style-btn-info {
	margin: 10px 0;
}
.slide-featured-jobs {
	padding: 10px;
}	
.inline-checkbox li{
 display: inline-block;
 padding: 0 5px;
}
.inline-checkbox  input[type="checkbox"]{
 margin: 0 5px;
}
#candidate-form select{
 padding: 5px !important;
}
.alert {
    color: #ff0030;
    font-family: Tahoma;
    font-size: 10px;
} 

/*personal Profile */
.ppform{
	margin: 5px 0 15px;
	padding: 0 0 10px; 
	border-bottom: 1px solid #ccc;
}
#candidate-form .form-group{
	border-bottom: 1px solid #ccc;
	margin: 5px 0 15px;
	padding: 0 0 10px; 
	
}
/* Pricing --Features */
.all-jobs-list-box2 .fa{
	color: #777;
	font-size: 22px;
}



