
/* MY CUSTOM CSS */

/* New Candidate Registration */\
.login-container h3 {
	color: #29AAFE !important;
	font-weight: bold;
}

/* LatestNews Carousel */
#latest-news .vertical .carousel-inner {
  height: auto;
}

#latest-news .carousel.vertical .item {
   -webkit-transition: 0.6s ease-in-out top;
   -moz-transition: 0.6s ease-in-out top;
   -ms-transition: 0.6s ease-in-out top;
   -o-transition: 0.6s ease-in-out top;
   transition: 0.6s ease-in-out top;
}

#latest-news .carousel.vertical .active {
   top: 0;
}

#latest-news .carousel.vertical .next {
   top: 400px;
}

#latest-news .carousel.vertical .prev {
   top: -400px;
}

#latest-news .carousel.vertical .next.left, #latest-news .carousel.vertical .prev.right {
   top: 0;
}

#latest-news .carousel.vertical .active.left {
   top: -400px;
}

#latest-news .carousel.vertical .active.right {
   top: 400px;
}

#latest-news .carousel.vertical .item {
   left: 0;
}

/* for Latest news */
.flash-news {
	color: #c20;
	margin: 0px;
}
#myCarousel {
	border-color: #000;
	border-style: outset;
	border-radius: 3px;
	height: 50px;
	max-height: 500px;
	/*overflow: scroll;*/
}
#latest-news .carousel-inner div{
	text-decoration: none;
	margin: 10px;
}
#latest-news a{
	color: #c20;
}
#latest-news .carousel-inner div:hover{
	text-decoration: underline;
	color: #c20;
}	
/* Recent job lists on home page right panel*/
#panel-right {
	margin: 50px 0;
}
#panel-right table{
	height: 300px;
	/*background-color: #f1f1f1;*/
	border-radius: 5px;
}
.vacancy-title {
	color: #fff;
	background-color: #29AAFE;
	padding: 10px;
}
.list-job-title {
	text-align: left;
    padding: 10px 5px;
    line-height: 1.5;
}
#panel-right li a {
	color: #777;
}
#panel-right li a:hover {
	color: #29AAFE;
}
/* Post-job */
#ckeditor{
	resize: none;
	height: 100px;
	width: 1150px;
}

/* Step Wizard- for Register form */
.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #e9483e;
    
}
.wizard li.active span.round-tab i{
    color: #29AAFE;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 33%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #29AAFE;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #29AAFE;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
} 
/* FORM Registration */
#candidate-form {
	margin-top: 50px;
}
.login-container .declaration p{
	text-align: left;
	margin-bottom: 0;
	text-transform: none;
	font-size: 13px;
}
.alert {
    color: #ff0030;
    font-family: Tahoma;
    font-size: 10px;
}
#candidate-form select {
    height: 30px;
    padding: 3px 4px;
}
.form-control, select {
    border: 1px solid #d5d5d5;
    border-radius: 0;
    box-shadow: none !important;
}
