
/* MY CUSTOM CSS */

/* New Candidate Registration */\
.login-container h3 {
	color: #29AAFE !important;
	font-weight: bold;
}

/* LatestNews Carousel */
#latest-news .vertical .carousel-inner {
  height: auto;
}

#latest-news .carousel.vertical .item {
   -webkit-transition: 0.6s ease-in-out top;
   -moz-transition: 0.6s ease-in-out top;
   -ms-transition: 0.6s ease-in-out top;
   -o-transition: 0.6s ease-in-out top;
   transition: 0.6s ease-in-out top;
}

#latest-news .carousel.vertical .active {
   top: 0;
}

#latest-news .carousel.vertical .next {
   top: 400px;
}

#latest-news .carousel.vertical .prev {
   top: -400px;
}

#latest-news .carousel.vertical .next.left, #latest-news .carousel.vertical .prev.right {
   top: 0;
}

#latest-news .carousel.vertical .active.left {
   top: -400px;
}

#latest-news .carousel.vertical .active.right {
   top: 400px;
}

#latest-news .carousel.vertical .item {
   left: 0;
}

/* for Latest news */
.flash-news {
	color: #c20;
	margin: 0px;
}
#myCarousel {
	border-color: #000;
	border-style: outset;
	border-radius: 3px;
	height: 50px;
	max-height: 500px;
	/*overflow: scroll;*/
}
#latest-news .carousel-inner div{
	text-decoration: none;
	margin: 10px;
}
#latest-news a{
	color: #c20;
}
#latest-news .carousel-inner div:hover{
	text-decoration: underline;
	color: #c20;
}	
/* Recent job lists on home page right panel*/
#panel-right {
	margin: 50px 0;
}
#panel-right table{
	height: 300px;
	/*background-color: #f1f1f1;*/
	border-radius: 5px;
}
.vacancy-title {
	color: #fff;
	background-color: #29AAFE;
	padding: 10px;
}
.list-job-title {
	text-align: left;
    padding: 10px 5px;
    line-height: 1.5;
}
#panel-right li a {
	color: #777;
}
#panel-right li a:hover {
	color: #29AAFE;
}
/* Post-job */
#ckeditor{
	resize: none;
	height: 100px;
	width: 1150px;
}
