/* Custom Code */

/* Featured Jobs Slider */
.slide-featured-jobs {
	padding: 10px;
}	

/* Candidate register form */
#candidate-form h3 {
    background-color: #29aafe !important;
    color: #fff;
    padding: 5px;
}
#candidate-form .fa-pencil{
	font-size: 20px;
 }	
.style-btn-info {
	margin: 10px 0;
}
.inline-checkbox li{
	display: inline-block;
	padding: 0 5px;
}
.inline-checkbox  input[type="checkbox"]{
	margin: 0 5px;
}
#candidate-form select{
	padding: 5px !important;
}	
/*Added by thangam*/
/*css for login and registrartion start*/
.error_input_field {
	/*background: #ffebeb !important;*/
    border: 1px solid #cb1d1d  !important;	
}
.error_input_field_email {
	/*background: #ffebeb !important;*/
    border: 1px solid #cb1d1d  !important;	
}
.error_test {
	color :red ;
	font-size : 12px;	
	display : none;
}
.error_email  {
	color :red ;
	font-size : 12px;
	display : none;
}
/*css for login and registrartion end*/
/*Ended by thangam*/
