/* Custom Code */
.txt_blue {
	color: #29AAFE;
}
.set-srch-strip{
	display : none;
}
.slidershow-bg:hover .set-srch-strip {
   display : block;
}
.slidershow-bg .search-form-contaner {
	margin-top: 0px;
	overflow: hidden;
	padding: 0px;
	height: 50px;
}
.set-srch-strip {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 35px;
}
.set-srch-strip .fa-close {
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 20px;
    z-index: 1;
}
#search-icon {
	background-color: rgba(0, 0, 0, 0.2); 
	width: 25%;
}
#search-icon a{
	color: #FFFFFF;
	cursor: pointer;
}
#search-icon .fa-search{
	margin: 5px;
}

/* Featured Jobs Slider */
.slide-featured-jobs .content-area{
	height: 250px;
}
.slide-featured-jobs {
	padding: 10px;
	cursor: pointer;
	/* only required rule to the whole div clickable work */
	position: relative;
}
.featured-jobs-grid-link{
  /* all rules required to make the whole div clickable */ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
  /* this is a fix for IE7-9 */
  	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
 	filter: alpha(opacity=0);  
  	opacity:0; 
  }	
/* Premium Adds */
#premium_adds_caurosel .owl-testimonial-2 .single_testimonial img {
	border-radius: 0 !important;
	display: block;
	height: 400px;
	width: 320px;
	margin: auto;
}	
/* Signin & SignUp forms */
 .loginbox_parallex::before {
	background: rgba(0, 0, 0, 0.8) !important;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.loginbox-terms {
    margin: 10px 0;
}
.login-container #submit {
	margin-bottom: 0;
}
.loginbox-signup a {
	cursor: pointer;
}
.loginbox-signup a:hover, .loginbox-forgot a:hover {
	color: #000000 !important;
}
/* Pricing --Features */
.all-jobs-list-box2 .fa{
	color: #777;
	font-size: 22px;
}
.pricing-section-1 .pricing-selectplan-link{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
/* Provider- Signup & Signin form */
.login-container .loginbox-signin {
	font-size: 14px;
	color: #242424;
	margin-top: 20px;
	float: right;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.login-container .loginbox-signin a:hover {
	color: #000;
}
.loginbox-forgot {
	cursor: pointer;
}
.loginbox-forgot a:hover{
	color: #000000;
}
.checkbox_word {
	font-size: 14px;
	cursor: pointer;
}

/* JOB SEEKER DASHBOARD */
/* Candidate register form */
#candidate-form h3 {
    background-color: #29aafe !important;
    color: #fff;
    padding: 5px;
}
#candidate-form .fa-pencil{
	font-size: 20px;
 }	
.style-btn-info {
	margin: 10px 0;
}
.inline-checkbox li{
	display: inline-block;
	padding: 0 5px;
}
.inline-checkbox  input[type="checkbox"]{
	margin: 0 5px;
}
#candidate-form select{
	padding: 5px !important;
	width: 100%;
}	
.alert {
    color: #ff0030;
    font-family: Tahoma;
    font-size: 10px;
} 
/*personal Profile */
.ppform{
	margin: 5px 0 15px;
	padding: 0 0 10px; 
	border-bottom: 1px solid #ccc;
}
#candidate-form .form-group{
	border-bottom: 1px solid #ccc;
	margin: 5px 0 15px;
	padding: 0 0 10px; 
}
/* Edit Profile */
.upload_resume input[type="file"] {
	color: #29AAFE;
}
/* User Inbox */
#user_inbox_msg_act .modal-dialog {
	border: 1px solid #fff;
	border-radius: 5px;
	
}
#user_inbox_msg_act .modal-header {
	background-color: #29aafe;
	color: #FFFFFF;
	font-family: 'Kaushan Script';
}
#user_inbox_msg_act .modal-header .close{
	color: #fff !important;
	font-size: 30px;
	opacity: 1;
}
#user_inbox_msg_act .inbox_msg{
	color:  #29aafe;
}
/* END OF JOB SEEKER DASHBOARD */

/* COMPANY DASHBOARD */
#company-browse-candidate .all-jobs-list-box2 {
	position: relative;
	margin: 30px 0;
}
.provider-jobs li {
	padding: 10px 15px;
	text-align: center;
	line-height: 30px;
}
.provider-jobs li, .provider-jobs li:hover {
	color: #FFF !important;
	cursor: pointer;
}
.dashboard-body .profile-nav .provider-jobs ul > li:hover, .dashboard-body .profile-nav .provider-jobs ul > li:focus, .dashboard-body .profile-nav .provider-jobs ul li.active  {
	background: #29aafe;
	border-left: 5px solid #2088cb;
	color: #FFF !important;
}
.dashboard-body .profile-nav .provider-jobs ul li > a{
	border: none;
	
}
.dashboard-body .profile-nav .provider-jobs ul li > a:hover{
	color: #FFF !important;
}
.imagepreview_act {
    width: 100%;
    max-height: auto;
    background-position: center center;
    background-size: cover;
    /*-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);*/
    display: inline-block;
    /*margin: 35px 10px 10px 10px;*/
}
/*.select-salary select option:first{
	color: #999;
}*/
select:invalid { color: gray; }

 .advanced_search {
 	margin-top: 5px;
 	float:right;
 	color: #fff;
 	cursor: pointer;
 }
.advanced_search:hover { 
	color: #fff;
	text-decoration: underline;
}
 #advancedsearch_act {
 	margin: 10px 0;
 }
.info {
	color: #009900;
	font-size: 15px;
}
#applicant_msg_act .modal-dialog {
	border: 1px solid #fff;
	border-radius: 5px;
	
}
#applicant_msg_act .modal-header {
	background-color: #29aafe;
	color: #FFFFFF;
	font-family: 'Kaushan Script';
}
#applicant_msg_act .modal-header .close{
	color: #fff !important;
	font-size: 30px;
	opacity: 1;
}
#applicant_msg_act .inbox_msg{
	color:  #29aafe;
	/*font-weight: bold;*/
	
}
/* Edit profile */
.profile-edit .input-group-btn {
    padding-top: 0 !important;
}
#provider_upload .input-group {
	border-collapse: separate;
    display: table;
    left: 195px;
    position: relative;
}
#provider_add_upload .input-group{
	border-collapse: separate;
    display: table;
    left: 0px;
    position: relative;
}

#post_adds .post_adds_fields {
	border: 1px solid #f1f1f1;
	padding: 15px;
}
/* illustrative page preview */

.page_layout {
	border: 1px solid #ccc;
	margin: 15px 0;
	height: auto;
	width: 100%;
	background-color: #E4E4E4;
}
.header_part {
	width: 97%;
	height: 30px;
	background-color: #f2f2f2;
	margin: 5px 10px;
}
.home_slider{
	width: 97%;
	height: 80px;
	background-color: #f2f2f2;
	margin: 5px 10px;
}
.featured_jobs_area {
	margin: 10px;
	border: 5px solid #f2f2f2;
}
.fjob {
	width: 30.3%;
	height: 80px;
	margin: 8px 10px 0;
	background-color: #f2f2f2;
}
.counter_area {
	width: 97%;
	height: 30px;
	background-color: #f2f2f2;
	margin: 5px 10px;
}
.post_adds_caurosel {
	border: 5px solid #f2f2f2;
	width: 97%;
	height: 100px;
	background-color: #ccefff;
	
	margin: 5px 10px;
}
.page_layout .footer_section {
	width: 97%;
	height: 30px;
	background-color: #f2f2f2;
	margin: 5px 10px;
}
.page_layout .footer{
	background-color: #eee;
	width: 97%;
	height: 10px;
	margin: 1px 10px 5px 10px;
}
.list-banner li {
	margin: 10px 0;
}
.list-banner .fa-thumb-tack {
	margin-right: 5px;
}
/* Company Resume -inbox */
.resume-list table tr td{
	vertical-align: middle;
	text-align: left;
}
.del_provdbd_mail {
	margin: 10px 5px;
	background-color: #ccebff;
}
.resume-list .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #ccebff;
}
.display_seeker_details {
	margin: 5px 0 15px;
    padding: 0 0 10px;
}
#applicant_msg_act .modal-body{
	height: 490px;
	overflow-y: auto;
}	
#applicant_msg_act .modal-footer{
	background-color: #29aafe; 
}	
#pro_inbox_msg h5 {
    color: #29AAFE;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Kaushan Script';
} 

/* Browse Candidate jobs */
#dashboard-jobs-grid .dashboard-jobs-grid-link{
	/* for grid click event */
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.seeker_individual_profile h5{
	color: #29AAFE;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Kaushan Script';
}
#normalsearch_act .btn-default{
	margin-top: 0px !important;
	padding: 12px 30px;
}
/* END OF COMPANY DASHBOARD */

/* PROVIDERS & SEEKERS DASHBOARD */
#dashboard_popup_act .modal-footer{
	padding: 0px;
}
#custom-profilebar .progress, #seeker-profilebar .progress {
    border-radius: 15px;
    box-shadow: none;
    height: 22px;
    position: relative;
}
/* VACANCIES */
#list-vacancy .vacancies-grid-link{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/* this is a fix for IE7-9 */
  	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  
 	filter: alpha(opacity=0);  
  	opacity:0;  
} 

/*Added by thangam*/
/*css for login and registrartion start*/
.registration_status {
	color: #c24641;
	display: none;
	margin: 10px 0;
	text-align: center;
}
.loading {
	height: 28px;
    width: 28px;
}
#captcha_img{
	width: 106px;
}
/*css for login and registrartion end*/
.error_test {
  color :red ;
  font-size : 12px; 
  display : none;
}
.error_mobile {
  color :red ;
  font-size : 12px; 
  display : none;
}
.error_input_field {
  /*background: #ffebeb !important;*/
    box-shadow: 0 0 5px #ff0000;
	padding: 3px 0px 3px 3px;
  	margin: 5px 1px 3px 0px;
  	border: 1px solid #ff0000;  
}
.error_input_field_mobile {
   border:1px solid red !important;
}
.error_image,.error_extension  {
  color :red ;
  font-size : 12px;
  display : none;
}
#image_upload_profile_preview{
  position: absolute;
  height: 80px;
  width: 80px;
}
/*#image_preview_clear_your_image{
  position: absolute;
  height: 80px;
  width: 80px;
}*/
#image_upload_your_image_preview{
  position: absolute;
  height: 80px;
  width: 80px;
}
.image_upload_profile{
	bottom: 0;
    left: 500px;
}
#image_upload_logo_preview{
	position: absolute;
	right: 115px;
	bottom: 0px;
    height: 100px;
    width: 100px;
}
.map_data{
	-moz-user-select: text;
    background-color: white;
    color: #333;
    font-family: Roboto,Arial;
    font-size: 13px;
     margin-bottom: 0;
    margin-top: 0;
    width: 220px;
}
/*Ended by thangam*/

.registration_server_msg{
	color: #c24641;
	margin: 10px 0;
	text-align: center;
}
.error, .uploaderror p{
color: red;
font-size: 12px;
}
.provider-profile-edit input.form-control, select.form-control ,#post_job_form input.form-control{
    border-radius: 0;
    height: 45px;
    letter-spacing: 1px;
    width: 100% !important;
}
#post_job_form .select2-container--default .select2-selection--single{
	height :45px !important;
}
.error_box_shadow{
	box-shadow: 0 0 5px #ff0000;
	padding: 3px 0px 3px 3px;
  	margin: 5px 1px 3px 0px;
  	border: 1px solid #ff0000;
}
.inbox_menu{
	position: relative;
}
.button__badge {
  background-color: #fa3e3e;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    padding: 0 11px;
    position: absolute;
    right: 17px;
    top: 9px;
}
.provider_job_instruction{
	height: 160px;
    width: 100%;
}



/* ---------For Responsive---------- */
@media (min-width: 320px) and (max-width: 767px) {	
	#provider_upload .input-group {
		position: relative;
		left: 0px;
	}	
}
@media (min-width: 768px) and (max-width: 991px) {
	#provider_upload .input-group {
		position: relative;
		left: 125px;
	}
}	
@media (min-width: 992px) and (max-width: 1199px) {
	#provider_upload .input-group {
		position: relative;
		left: 160px;
	}

}	
/* For Home page Search Buttonp */
@media(min-width: 320px) and (max-width: 767px){
	.slidershow-bg .search-form-contaner {
		height: 255px;
	    margin-top: 0;
	    overflow: hidden;
	    padding: 10px 20px;
	    position: relative;
	    top: -20px;
	 }   
}

.success_server_msg{
	color: #fff;
	margin: 10px 0;
	text-align: center;
	background: #29aafe none repeat scroll 0 0;
}
.col-md-2-5{
	min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    float: left;
    width: 20%;
    padding-top:5px;
}
.advance_search_btn{
	margin-top: 10px !important;
	margin-left : 5px;
}
.postad_preview{
	display: none;
}
.preview_post_ad_image{
	cursor: pointer;
}
.dn{
	display: none;
}
/* Added by siva */
.datepicker_section span {
	width : 100% !important;
}